.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    }

    .NOTE{
        font-size: 15px;
        color: black;
    }

    .copyright_footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: ghostwhite;
        background-color: black;
        line-height: 3;
        text-align: center;
    }

    canvas{
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
    }